@media (max-width: 1300px) {
  #navLogoContainer {
    width: 36px;
    position: relative;
    left: 0;

    #FullLogo {
      display: none;
    }

    #IconLogo {
      display: flex;
      height: 100%;
    }
  }

  #NavBarButtonContainer {
    position: relative;
    right: 0;
  }

  #navBarMainContainer {
    justify-content: space-between;
  }

  #mesFavText {
    display: flex;
  }

  #heartSVGText {
    display: flex;
  }

  #heartSVGnoText {
    display: none;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {

  #mesFavText {
    display: none;
  }

  #heartSVGText {
    display: none;
  }

  #heartSVGnoText {
    display: flex;
  }

  #mainNavLinkContainer {
    gap: 0;
  }
}

@media (max-width: 920px) {
  #navLogoContainerMain {
    gap: 24px;
  }

  #mainNavLinkContainer {
    display: none;
  }

  #menuBurgerContainer {
    display: flex;
    cursor: pointer;
    padding: 10px 14px;
  }

  #menuBurgerContainer:hover {
    background-color: #f2f2f2;
  }

  #menu-burger-open {
    position: absolute;
    height: auto;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    z-index: 100;
    top: 90px;
    left: 0;
    border-end-end-radius: 10px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
  }

  #burger-full {
    display: none;
  }

  #heartSVGnoText {
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  #menuBurgerContainer {
    position: relative;
    right: 0;
  }


  #menu-burger-open {
    left: auto;
    right: 0;
  }

  #burger-mobile {
    display: flex;

  }

  #navBarMainContainer {
    padding: 22px 20px;
  }

  #navLogoContainerMain {
    justify-content: space-between;
    width: 100%;
  }

  #NavBarButtonContainer {
    display: none;
  }

  #heartSVGnoText {
    display: none;
  }
  #burger-full {
    display: flex;
  }
}